[Unit]
Description=Pequeno projeto de apoio ao Partido Pirata
After=network.target
After=syslog.target

[Service]
Type=simple
User=jango
Group=jango
ExecStart=/usr/local/bin/uwsgi --socket /tmp/apoio-dev.sock --chdir /home/jango/apoio-piratas.dev/apoio/ --wsgi-file /home/jango/apoio-piratas.dev/apoio/wsgi.py --chmod-socket=666
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=null
NotifyAccess=all

[Install]
WantedBy=multi-user.target

