[Unit]
Description=instant.io as a daemon
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/bin/bash /var/www/git/instant.io/systemd.bash

[Install]
WantedBy=multi-user.target
