[Unit]
Description=ipfs gateway
After=network.target

[Service]
User=ipfs
Group=ipfs
EnvironmentFile=-/home/ipfs/env/ipfs
ExecStart=/usr/local/bin/ipfs daemon 
Restart=on-failure

[Install]
WantedBy=multi-user.target

