[Unit]
Description=web2py framework
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/bin/python /var/www/web2py/web2py.py --port=9001 --password="vaitomarnocu"

[Install]
WantedBy=multi-user.target
