[Unit]
Description=Zeronet as a daemon
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/bin/bash /var/www/lib/ZeroBundle/ZeroNet.sh
#ExecStart=/var/www/lib/ZeroBundle/Python/python /var/www/lib/ZeroBundle/ZeroNet/zeronet.py main

[Install]
WantedBy=multi-user.target
